<%- include('partials/header') %> 
<%- include('partials/navbar') %>

<h1>HOME PAGE</h1>
<h2><%= 'hello world'.toUpperCase() %></h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quae
  praesentium pariatur, officiis doloribus odit. Repellat facilis cumque nihil
  praesentium. Omnis laudantium natus quos, minus assumenda ipsa odit libero
  excepturi?f
</p>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur sapiente,
  minima repellat vero laborum cupiditate? Saepe, consequuntur accusamus
  deleniti illo ab ea dolore, eaque quos eos aut nobis. Enim, quo.
</p>

<%- include('partials/footer') %>
